<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randomappsinc.foodbutton">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:name=".Utils.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SuggestionsActivity"
            android:label="@string/restaurant_view"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.EditLocationsActivity"
            android:label="@string/my_locations"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.FavoritesActivity"
            android:label="@string/favorites"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Activities.RestaurantActivity"
            android:label="@string/restaurant_view"
            android:screenOrientation="portrait">
        </activity>
    </application>
</manifest>
